<div class="p-4 bg-white mb-4 rounded">
  <h2 class="text-xl font-medium">Fondos</h2>
</div>

<div class="p-4 rounded bg-white tabs-container">
  <p-tabs value="0">
    <p-tablist>
        <p-tab class="p-2! te" value="0">Disponibles</p-tab>
        <p-tab class="p-2!" value="1">Mis fondos</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3 mt-4">
            @for (fund of availableFunds(); track fund.id) {
                <app-fund-card
                [fund]="fund"
                (subscribeEvent)="onSubscribe($event)">
                </app-fund-card>
            }
            </div>

            @if (availableFunds().length === 0) {
            <p class="text-gray-500 mt-6 text-center">
                No hay fondos disponibles
            </p>
            }
        </p-tabpanel>
        <p-tabpanel value="1">
            <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3 mt-4">
            @for (fund of subscribedFunds(); track fund.id) {
                <app-fund-card
                [fund]="fund"
                [mode]="'subscribed'"
                (unsubscribeEvent)="onUnsubscribe($event)">
                </app-fund-card>
            }
            </div>

            @if (subscribedFunds().length === 0) {
            <p class="text-gray-500 mt-6 text-center">
                No tienes fondos suscritos
            </p>
            }
        </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>